body,
.section-view,
.section-articles {
  background-color: #000;
}

.section-video-bg,
.section-contact map {
  width: 100%;
  height: 100%;
}

.section-image {
    background: url(../../www/img/header.jpg);
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    /* background-attachment: fixed; */
    /* This is what makes the background image rescale based
       on the container's size */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: rgb(255,193,7);
}


.fx-logo {
  transition: all 1s;
}

.fx-logo.in {
  font-size: 22px;
}

.fx-logo.out {
  font-size: 24px;
}


.fx-fade {
  transition: all 2s;
}

.fx-fade.ng-enter {
opacity: 1;
}

.fx-fade.ng-enter.ng-enter-active {
opacity: 0;
}
.fx-fade.ng-leave {
opacity: 0;

}
.fx-fade.ng-leave.ng-leave-active {
opacity: 1;
}

.fx-fade:hover {
  opacity: 0.5;
}
